.wrapper {
  background: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  .headerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 0px;
  }

  .headerTop {
    display: flex;
    /* flex: 0.5; */
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 24px;
    height: 60px;
  }

  .headerBottom {
    /* display: flex; */
    /* flex: 1; */
    height: 60px;
    background-color: white;
    border: silver;
    border-width: 1px;
    border-style: solid;
    border-left: none;
    border-right: none;
  }

  .headerLeft {
    display: flex;
    flex: 0.3;
    justify-content: flex-start;
    align-items: center;
  }

  .headerRightContainer {
    display: flex;
    flex: 0.3;
    justify-content: flex-end;
    align-items: center;
  }

  .loginButton {
    width: 94.25px;
    height: 36px;
    background-color: var(--primary-button-color);
    border-color: orange;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-right: 4px;
  }

  .logOutButton {
    width: 94.25px;
    height: 36px;
    background-color: var(--secondary-button-color);
    border-radius: 5px;
    border-color: orange;
    color: orange;
    text-align: center;
  }

  .bodyContainer {
    display: flex;
    flex: 1;
    background-color: ghostwhite;
    justify-content: center;
    align-items: center;
  }

  .sideBarContainer {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .logoContainer {
    display: flex;
    width: 50px;
    height: 50px;
    margin-right: 2px;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 64px;
    height: 64px;
  }

  .sideBarButton {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    width: 200px;
    height: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
  }

  .sideBarButton:hover {
    background-color: orange;
    color: white;
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .sideBarLogo {
    width: 48px;
    height: 48px;
  }

  .sideBarTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sideBarCategoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    width: 200px;
    height: 50%;
    overflow-y: auto;
    margin-top: 16px;
  }

  .sideBarCategoryList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    margin-top: 4px;
    margin-left: 8px;
  }

  .sideBarCategoryLabel {
    font-size: 24px;
    font-weight: bold;
    background-color: slategray;
    width: 100%;
    padding-left: 8px;
    color: white;
  }

  .sideBarCategoryItem {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .textContainer {
    font-size: 24px;
    font-weight: bold;
  }

  /* Mobile View */
  @media (max-width: 719px) {
    .bodyContainer {
      flex-direction: column !important;
      background-color: skyblue !important;
      width: 100vw !important;
      height: 85vh !important;
    }

    .sideBarContainer {
      flex-direction: row !important;
      background-color: aqua !important;
      width: 100vw !important;
      height: 15vh !important;
    }

    .sideBarButton {
      flex: 1 !important;
      width: auto !important;
    }
  }
}

.container {
  color: green;
}

.bodyContainer {
  display: flex;
  flex: 1;
  background-color: salmon;
  justify-content: center;
  align-items: center;
}
